html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}
.titleRow{
    align: center;
	padding: 5px;
	margin: 5px;
	font-weight:bold;
	border-bottom: thin solid #99ccff;
}
.inputRow{
        padding:5px;
        margin:5px;
}
#topNav {
    background-color: #99ccff;
    text-align: center;
	padding: 10px;
}
#bottomNav {
    background-color: #99ccff;
    text-align: center;
	padding: 10px;
}
#titleBar {
    text-align: center;
    font-size: 30px;
}
#search {
}
#mainContent{
}
#ticket {
    width: 85%;
    margin: auto;
}
#displayFilter {
    display: inline;



}
#displayControl {
    height: 40px;
}

#freightHeader {
    height:250px;
}

#completeButton {
    float: right;
    width: 33.3%;
}
#editButton {
    float: left;
    width: 33.3%;
}
#pageDiv {
    width: 10%;
    margin-right: 5%;
    margin-left: 5%;
}
.mobileTitle{
	width: 100%;
	font-size:75px;
	font-weight: bold;
	background-color: #99ccff;
}
input.mobile {
	height: 1.5em;
	width: 10em;
	font-size:5em;
}
textarea.mobile {
	height: 3em;
	width: 13.5em;
	font-size:5em;
}

.fakeButton {
  text-decoration: none;
  margin: 1px;
  background: #ffffff;
  padding: 8px 24px 8px 24px;
  border-radius: 5px;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #CCCCCC;
  border-bottom: 2px solid #CCCCCC;
  border-left: 2px solid #CCCCCC;
}

.regRows {
	padding:5px 5px 5px 5px;
	margin: 0px 5px 0px 5px;
	border-bottom: 1px solid #e5e5e5;
}
.regRows:hover{
	display: block;
    background-color: #ffff99;
}

.regCol{
    white-space:nowrap;
	overflow:hidden;
}

#repairRef{
	display:none;
}

.repairCell{
	display:block;
	white-space:nowrap;
	overflow:hidden;
}
.attention{
	background-color:#ff7878; !important
}



