html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

table#repairRegister{
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
table#repairRegister th, td {
    
}
#repairRegister{
    width:100%; 
    border-collapse:collapse; 
}
#repairRegister td { 
    padding:7px; 
/*    border:#4e95f4 1px solid; */
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
#repairRegister td a{
    display: block;
    text-decoration: none;
}

#repairRegister tr:hover {
    background-color: #ffff99;
}
.attention{
	background-color:#ff7878;
}
.titleRow{
    height: 3px;
    background-color: #99ccff;
    align: center;
    }
    
#topNav {
    width: 100%;
    background-color: #99ccff;
    text-align: center;
}
#titleBar {
    text-align: center;
    font-size: 30px;
}
#search {
}

#mainContent{
    margin: auto;
    width: 75%;
    border: solid;
    padding: 10px;
}

#footNav{
    display: table;
    margin: auto;
    width: 75%;
    height: 20px;
    border: solid;
    padding: 10px;
}

.navCell{
        float:left;/*fix for  buggy browsers*/
        width:33.3%;
}
#navInner{
    width: 85%;
    margin: auto;
}

table.newRepairTable {
    width: 50%;
    border:1px;
}

#docket {
    width: 85%;
    margin: auto;
}
#displayFilter {
    display: inline;
    float: left;
    width: 65%;
}
#displayControl {
    height: 40px;
}

#repairHeader {
    height:250px;
}

#completeButton {
    float: right;
    width: 33.3%;
}
#editButton {
    float: left;
    width: 33.3%;
}
#pageDiv {
    width: 5%;
    margin-right: 5%;
    margin-left: 5%;
}


