html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

table#repairRegister{
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
table#repairRegister   th, td {
    border-bottom: 1px solid #ddd;
}

.titleRow{
    height: 3px;
    background-color: #99ccff;
    align: center;
    }
    
#topNav {
    width: 100%;
    background-color: #99ccff;
    text-align: center;
}
#titleBar {
    text-align: center;
    font-size: 30px;
}
#search {
    float: right;
}

#mainContent{
    margin: auto;
    width: 75%;
    border: solid;
    padding: 10px;
    
}

#footNav{
    margin: auto;
    width: 75%;
    border: solid;
    padding: 10px;
}

table.newRepairTable {
    width: 50%;
    border:1px;
}

table#docket {
    width: 75%;
}
